@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");
@import "mainMenu.css";
@import "navigation.css";
@import "programmersIcon.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  color: #0f1317;
  line-height: 1.5;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* 메인 콘텐츠에 상단 여백 추가 */
main {
  margin-top: 80px;
}

/* 모든 링크의 상태에 대한 스타일 통일 */
a, a:link, a:visited {
  color: inherit; /* 부모 요소의 색상을 상속 */
  text-decoration: none; /* 밑줄 제거 */
}
