<section class="event-banner">
  <div class="eventBanner">
    <div class="custom-banner-swiper">
      <div class="swiper">
        <!-- 배너 슬라이드 1 -->
        <div class="swiper-slide" data-slide-index="1">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://school.programmers.co.kr/learn/KDT?itm_source=prgms&itm_medium=banner&itm_campaign=index_1&itm_content=banner_id_7650_display_order_&source=programmers.co.kr%2F#Course" target="_self">
              <div class="root-banner-wrap" style="background: #D5C7FF;">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-text" style="color:black">이벤트</span>
                    </div>
                    <div class="titles">
                      <p class="title" style="color:black">⭐알림신청 이벤트⭐</p>
                      <p class="title" style="color:black">수료생 극찬! 실무 중심 부트캠프</p>
                    </div>
                    <p class="subtitle" style="color:black">지금 데브코스 알림신청하고 커피쿠폰 받아가세요!</p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_1.png"> 
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_1.png" alt="데브코스 기획전 이미지"> 
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- 배너 슬라이드 2 -->
        <div class="swiper-slide" data-slide-index="2">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://school.programmers.co.kr/learn/courses/25186/25186-3%EA%B8%B0-k-digital-training-%EC%83%9D%EC%84%B1%ED%98%95-ai-%ED%99%9C%EC%9A%A9-%EB%B0%B1%EC%97%94%EB%93%9C-%EA%B0%9C%EB%B0%9C?itm_campaign=index_2&itm_content=banner_id_9036_display_order_&itm_medium=banner&itm_source=prgms&source=programmers.co.kr%2F" target="_self">
              <div class="root-banner-wrap" style="background: #121212;">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-text" style="color: #ffffff">데브코스</span>
                    </div>
                    <div class="titles">
                      <p class="title" style="color: #ffffff">Java/Spring 기반</p>
                      <p class="title" style="color: #ffffff">실전 백엔드 과정</p>
                    </div>
                    <p class="subtitle" style="color: #ffffff">ChatGPT로 프론트까지 다루며<br>기획부터 배포까지 마스터!</p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_2.png"> 
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_2.png" alt="백엔드 과정 이미지"> 
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- 배너 슬라이드 3 -->
        <div class="swiper-slide" data-slide-index="3">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://programmers.co.kr/pages/certi-video-event?itm_source=prgms&itm_medium=banner&itm_campaign=index_3&itm_content=banner_id_9663_display_order_&source=programmers.co.kr%2F" target="_self">
              <div class="root-banner-wrap" style="background: #16174F;">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-text" style="color: #ffffff">이벤트(안내)</span>
                    </div>
                    <div class="titles">
                      <p class="title" style="color: #ffffff">머쓱이와 함께 자격증 응시 가이드 보고<br>퀴즈 풀고 스타벅스 쿠폰 받자!</p>
                    </div>
                    <p class="subtitle" style="color: #ffffff">자격증 응시 가이드 영상 보고 OX 퀴즈 풀고<br>자격증 응시하면 기프티콘 혜택까지</p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_3.png">
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_3.png" alt="자격증 이벤트 이미지">
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- 배너 슬라이드 4 -->
        <div class="swiper-slide" data-slide-index="4">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://smarttechkorea.com/CyberSecAlgoWars" target="_blank">
              <div class="root-banner-wrap" style="background: linear-gradient(231.73deg, #29a9e1 0%, #29a9e1 100%);">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-ad">광고</span>
                      <span class="label-text" style="color: #000000">STK 2025 사무국</span>
                    </div>
                    <div class="titles" style="color: #000000">
                      <p class="title">CyberSec Algo Wars</p>
                    </div>
                    <p class="subtitle" style="color: #000000">
                      일시: 2025년 6월 11일~13일, 3일간 / 1:30~16:00 <br> 장소: COEX D홀 D160
                    </p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_4.png"> 
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_4.png" alt="알고리즘 대회 이미지" style="width: 70%;" > 
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- 배너 슬라이드 5 -->
        <div class="swiper-slide" data-slide-index="5">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://boostcamp.connect.or.kr/main_wm.html" target="_blank">
              <div class="root-banner-wrap" style="background: linear-gradient(231.73deg, #000000 0%, #000000 100%);">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-ad">광고</span>
                      <span class="label-text" style="color: #ffffff">네이버 커넥트재단</span>
                    </div>
                    <div class="titles" style="color: #ffffff">
                      <p class="title">6/9 (월) 오전 11시 모집 마감!<br>부스트캠프 웹·모바일 10기</p>
                    </div>
                    <p class="subtitle" style="color: #ffffff">
                      최고의 동료와 {개발자}로 성장하고 싶다면?
                    </p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_5.png"> 
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_5.png" alt="부스트캠프 이미지"> 
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>

        <!-- 배너 슬라이드 6 -->
        <div class="swiper-slide" data-slide-index="6">
          <div class="bannerHtmlWrapper">
            <a class="gtm-banner-link" href="https://www.programmers.co.kr/pages/dctalk5?itm_source=prgms&itm_medium=banner&itm_campaign=index_6&itm_content=banner_id_9927_display_order_&source=programmers.co.kr%2F" target="_self">
              <div class="root-banner-wrap" style="background: rgb(236, 228, 242);">
                <div class="banner-item-wide">
                  <div class="left">
                    <div class="labels">
                      <span class="label-text" style="color:black">이벤트</span>
                    </div>
                    <div class="titles">
                      <p class="title" style="color:black">취업을 앞당기는 개발자 전략</p>
                      <p class="title" style="color:black">데커TALK에서 확인해보세요!</p>
                    </div>
                    <p class="subtitle" style="color:black">현업 개발자 3인의 인사이트로 배우는<br>최신 취업 성공 사례와 협업 노하우</p>
                  </div>
                  <div class="right">
                    <picture>
                      <!-- 모바일 이미지 -->
                      <source media="(max-width: 991px)" srcset="../images/Programmers_Advertising_6.png"> 
                      <!-- 데스크탑 이미지 -->
                      <img src="../images/Programmers_Advertising_6.png" alt="데커TALK 이미지" style="width: 60%;"> 
                    </picture>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      
      <div class="slide-indicator">
        <button class="prev-button-left">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="m15 16.34-4.58-4.59L15 7.16l-1.41-1.41-6 6 6 6z" clip-rule="evenodd"></path>
          </svg>
        </button>
        <div class="pagination">
          <span class="currentIndex pageIndex">1</span>
          <span class="divider"></span>
          <span class="totalCount pageIndex">6</span>
        </div>
        <button class="prev-button-right">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path fill-rule="evenodd" d="m9 16.34 4.58-4.59L9 7.16l1.41-1.41 6 6-6 6z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>