<div class="footer-banner-container">
  <div class="banner-image-section">
    <div class="banner-image-wrapper">
      <img
        src="https://d1nuzc1w51n1es.cloudfront.net/a6fed2fa29f012e4a939.png"
        alt="프로그래머스 자격증 취득 배너"
      />
    </div>
  </div>
  <div class="banner-content-section">
    <div class="banner-text-wrapper">
      <p class="banner-title">
        개발자 역량 평가 1위 <br class="mobile-only-break" /><span
          class="banner-highlight"
          >프로그래머스</span
        >에서 만든<br />
        자격증 취득에 도전해보세요!
      </p>
      <a
        class="banner-button"
        href="https://certi.programmers.co.kr/about/main"
        data-hackle-value="home_certi_banner_clicked"
      >
        역량인증자격증 자세히 알아보기
        <img
          src="../images/arrow-right.svg"
          alt="화살표 아이콘"
          class="arrow-icon"
        />
      </a>
    </div>
  </div>
</div>
