<ul class="main-menu">
  <li>
    <a href="#" class="main-category">교육</a>
    <div class="mega-menu">
      <div class="mega-menu-wrapper">
        <div class="mega-menu-content">
          <div class="mega-category">
            <h3><a href="#">교육 홈</a></h3>
            <h3><a href="#">강의</a></h3>
            <ul>
              <li><a href="#">전체</a></li>
              <li><a href="#">데브코스</a></li>
              <li><a href="#">영상/실습 강의</a></li>
              <li><a href="#">PCCP.E 자격증</a></li>
            </ul>
          </div>

          <div class="mega-category">
            <h3><a href="#">MY 스쿨</a></h3>
            <ul>
              <li><a href="#">수강 중인 코스</a></li>
              <li><a href="#">관리 중인 코스</a></li>
            </ul>
          </div>

          <div class="mega-category">
            <h3><a href="#">강사 신청</a></h3>
            <ul>
              <li><a href="#">강사/멘토풀 등록</a></li>
            </ul>
            <h3>
              <a href="#"><span>캠퍼스</span><img src="./images/launch.svg" alt="이동하기 아이콘"/></a>
            </h3>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#" class="main-category">데브코스<span>부트캠프</span></a>
    <div class="mega-menu">
      <div class="mega-menu-wrapper">
        <div class="mega-menu-content">
          <div class="mega-category">
            <h3><a href="#">데브코스 홈</a></h3>
            <h3><a href="#">웹 데브코스</a></h3>
            <ul>
              <li><a href="#">프론트엔드 과정</a></li>
              <li><a href="#">백엔드 과정</a></li>
              <li><a href="#">백엔드(with.ChatGPT) 과정</a></li>
              <li><a href="#">풀스택 과정</a></li>
            </ul>
          </div>

          <div class="mega-category">
            <h3><a href="#">데이터 데브코스</a></h3>
            <ul>
              <li><a href="#">데이터 분석 과정</a></li>
              <li><a href="#">데이터 엔지니어링 과정</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#" class="main-category">코딩테스트</a>
    <div class="mega-menu">
      <div class="mega-menu-wrapper">
        <div class="mega-menu-content">
          <div class="mega-category">
            <h3><a href="#">코딩테스트 문제</a></h3>
            <ul>
              <li><a href="#">모든 문제</a></li>
              <li><a href="#">기초 문제</a></li>
              <li><a href="#">입문 문제</a></li>
              <li><a href="#">알고리즘 고득점 Kit</a></li>
              <li><a href="#">SQL 고득점 Kit</a></li>
              <li><a href="#">과제테스트</a></li>
              <li><a href="#">Q&A</a></li>
            </ul>
          </div>

          <div class="mega-category">
            <h3><a href="#">스킬 체크</a></h3>
          </div>
        </div>
      </div>
    </div>
  </li>
  <li>
    <a href="#" class="main-category">인증시험<img src="./images/launch.svg" alt="이동하기 아이콘"/></a>
  </li>
</ul>
