<div class="sub-nav">
  <div class="container">
    <div class="sub-nav-items">
      <div class="sub-nav-item">
        <a href="https://school.programmers.co.kr/learn/KDT">
          <div class="sub-nav-item-image">
            <img
              src="../images/subNavigation_1.svg"
              alt="무료 국비 강의 아이콘"
            />
          </div>
        </a>
        <span>무료 국비 강의</span>
      </div>

      <div class="sub-nav-item">
        <a
          href="https://school.programmers.co.kr/learn/challenges?order=acceptance_desc&levels=0&languages=python3"
        >
          <div class="sub-nav-item-image">
            <img
              src="../images/subNavigation_2.svg"
              alt="코딩테스트 문제 아이콘"
            />
          </div>
        </a>

        <span>코딩테스트 문제</span>
      </div>

      <div class="sub-nav-item">
        <a href="https://school.programmers.co.kr/my-courses/learning">
          <div class="sub-nav-item-image">
            <img
              src="../images/subNavigation_3.svg"
              alt="수강 중인 강의 아이콘"
            />
          </div>
        </a>

        <span>수강 중인 강의</span>
      </div>

      <div class="sub-nav-item">
        <a href="https://community.programmers.co.kr/blog/2">
          <div class="sub-nav-item-image">
            <img src="../images/subNavigation_4.svg" alt="블로그 아이콘" />
          </div>
        </a>

        <span>블로그</span>
      </div>

      <div class="sub-nav-item">
        <a href="https://programmers.co.kr/skill_checks">
          <div class="sub-nav-item-image">
            <img src="../images/subNavigation_5.svg" alt="스킬체크 아이콘" />
          </div>
        </a>

        <span>스킬체크</span>
      </div>

      <div class="sub-nav-item">
        <a href="https://certi.programmers.co.kr/">
          <div class="sub-nav-item-image">
            <img
              src="../images/subNavigation_6.svg"
              alt="코딩역량인증시험 아이콘"
            />
          </div>
        </a>

        <span>코딩역량인증시험</span>
      </div>
    </div>
  </div>
</div>
